{% extends "base.html" %}

{% block content %}

<h1>Books</h1>

<section class="parent">
    {% for row in books %}
    <div class="child">
        <p>Title : {{ row.title }}</p>
        <p>Genre : {{ row.genre }}</p>
    </div>
    <div class="child">
        {% for author in authors %}
            {% if row.author_id == author.id %}
                <p>Author : {{ author.name }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <form class="child" action="/books/{{row.id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>

{% endfor %}
</section>

<table>

{% endblock %}